.list_cnt {
  width: 75rem;
  height: 10.625rem;
  margin: 0.938rem auto;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.info_ctn {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.genre {
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
}

.title {
  font-size: 1.5rem;
  color: #121212;
  font-weight: bold;
}

.author {
  font-size: 0.875rem;
  color: #4386bf;
}

.btn_ctn > button {
  border: none;
  background: none;
  color: #4386bf;
  font-size: 0.875rem;
}

.btn_ctn > button:hover {
  color: blue;
}
